# Cleaning data - Ifood project

Importing some libraries

In [1]:
import pandas as pd
import numpy as np
import seaborn as srn
import matplotlib as plt
import statistics as sts

Reading 4 DataFrames collected via Web Scraping from the Ifood Website

In [2]:
df1 = pd.read_csv("alexandre_felix.csv")
df2 = pd.read_csv("emanuel_hark.csv", sep = ",")
df3 = pd.read_csv("emerson_aragao.csv")
df4 = pd.read_csv("julia_lima.csv", sep = ";")

df = [df1.copy(),df2.copy(),df3.copy(),df4.copy()]

Verify if each DataFrame has the same number of rows and columns

In [3]:
for data in df:
    print(data.shape)

(30, 7)
(30, 7)
(30, 7)
(30, 7)

Taking a look at the first 5 rows of each dataframe and trying to identify the problems

In [4]:
df[0].head()

,web-scraper-order,web-scraper-start-url,T√≠tulo,Nota,Tipo,Tempo,preco_entrega
0,1615840324-14,https://www.ifood.com.br/lista-restaurantes?f_...,"FILHO DA FRUTA ""RESTAURANTE""",4.7,"4.7 ‚Ä¢ Brasileira ‚Ä¢ 2,8 km",40-50 min,40-50 min ‚Ä¢ Gr√°tis
1,1615840324-12,https://www.ifood.com.br/lista-restaurantes?f_...,Ponto da Esfiha Itapevi,4.1,"4.1 ‚Ä¢ Pizza ‚Ä¢ 1,5 km",45-55 min,45-55 min ‚Ä¢ R$ 5.00
2,1615840324-2,https://www.ifood.com.br/lista-restaurantes?f_...,Sodi√™ Doces - Itapevi Jardim da Rainha,4.6,"4.6 ‚Ä¢ Doces & Bolos ‚Ä¢ 2,3 km",80-90 min,80-90 min ‚Ä¢ R$ 7.00
3,1615840324-19,https://www.ifood.com.br/lista-restaurantes?f_...,üçîlanches Bem Boladoüçî,4.9,"4.9 ‚Ä¢ Lanches ‚Ä¢ 3,0 km",60-70 min,60-70 min ‚Ä¢ R$ 7.99
4,1615840324-9,https://www.ifood.com.br/lista-restaurantes?f_...,Japa House,4.5,"4.5 ‚Ä¢ Japonesa ‚Ä¢ 3,2 km",60-70 min,60-70 min ‚Ä¢ R$ 5.00

In [5]:
df[1].head()

,web-scraper-order,web-scraper-start-url,Titulo,Notas,Tipo,Tempo,Preco
0,1615674534-4,https://www.ifood.com.br/lista-restaurantes?f_...,Z Deli Dogs,4.6,"4.6 ‚Ä¢ Lanches ‚Ä¢ 3,8 km",30-40 min,R$ 10.49
1,1615674534-23,https://www.ifood.com.br/lista-restaurantes?f_...,Andiamo Ristorante - Cidade S√£o Paulo,4.7,"4.7 ‚Ä¢ Italiana ‚Ä¢ 3,3 km",34-44 min,R$ 9.99
2,1615674534-20,https://www.ifood.com.br/lista-restaurantes?f_...,Amor Aos Peda√ßos - West Plaza,4.3,"4.3 ‚Ä¢ Doces & Bolos ‚Ä¢ 3,0 km",34-44 min,R$ 7.99
3,1615674534-6,https://www.ifood.com.br/lista-restaurantes?f_...,Casa Europa,4.8,"4.8 ‚Ä¢ Italiana ‚Ä¢ 4,8 km",35-45 min,R$ 12.99
4,1615674534-12,https://www.ifood.com.br/lista-restaurantes?f_...,Lancheria Original Brasil Santana,Novo!,"Novo! ‚Ä¢ A√ßa√≠ ‚Ä¢ 4,0 km",22-32 min,R$ 6.99

In [6]:
df[2].head()

,web-scraper-order,web-scraper-start-url,Titulo,Nota,Tipo,Tempo,pre√ßo_entrega
0,1615673252-4,https://www.ifood.com.br/lista-restaurantes?f_...,Boutique Burger,4.6,"4.6 ‚Ä¢ Lanches ‚Ä¢ 3,9 km",46-56 min,R$ 11.99
1,1615673252-16,https://www.ifood.com.br/lista-restaurantes?f_...,China in Box - Itaquera,4.7,"4.7 ‚Ä¢ Chinesa ‚Ä¢ 4,6 km",40-50 min,R$ 8.50
2,1615673252-30,https://www.ifood.com.br/lista-restaurantes?f_...,Pizzaria Kailane,4.6,"4.6 ‚Ä¢ Pizza ‚Ä¢ 3,6 km",55-65 min,R$ 5.00
3,1615673252-22,https://www.ifood.com.br/lista-restaurantes?f_...,Padaria Carisma,4.5,"4.5 ‚Ä¢ Padaria ‚Ä¢ 2,3 km",39-49 min,R$ 5.99
4,1615673252-9,https://www.ifood.com.br/lista-restaurantes?f_...,Divino Fog√£o - Metr√¥ Itaquera,4.6,"4.6 ‚Ä¢ Brasileira ‚Ä¢ 6,0 km",51-61 min,R$ 13.49

In [7]:
df[3].head()

,web-scraper-order,web-scraper-start-url,T√≠tulo,Nota,Tipo,Tempo,Pre√ßo_entrega
0,1621715297-28,https://www.ifood.com.br/lista-restaurantes?f_...,Restaurante Sabor Caseiro,"4,4","4.4 ‚Ä¢ Brasileira ‚Ä¢ 1,8 km",26-36 min,"4,99"
1,1621715297-21,https://www.ifood.com.br/lista-restaurantes?f_...,Papastel - Barueri,"4,9","4.9 ‚Ä¢ Pastel ‚Ä¢ 3,7 km",17-27 min,"8,49"
2,1621715297-19,https://www.ifood.com.br/lista-restaurantes?f_...,HORAS BURGUER BARUERI,"4,6","4.6 ‚Ä¢ Lanches ‚Ä¢ 1,5 km",40-50 min,6
3,1621715297-30,https://www.ifood.com.br/lista-restaurantes?f_...,Ponto da Esfiha - Jd Silveira,"4,4","4.4 ‚Ä¢ √Årabe ‚Ä¢ 1,7 km",40-50 min,5
4,1621715297-14,https://www.ifood.com.br/lista-restaurantes?f_...,"Bedu√≠no Esfihas, Beirutes e Pizzas.","4,9","4.8 ‚Ä¢ √Årabe ‚Ä¢ 2,1 km",28-38 min,"7,99"

Issues identified:

1¬∫ - We can see that the order of the columns is the same in all df's, but in some of them they have different names;

2¬∫ - The last dataframe has the column "Nota" and "Pre√ßo_entrega" with decimal numbers separeted by commas, not points as the other df's.

3¬∫ - Some dataframes has "Novo!" or NaN's in the column "Nota", but it was supposed to have a number.

4¬∫ - The column "Tipo" has 3 informations, but the important one is the one in the middle, which is the food type;

5¬∫ - We need to calculate the mean value of the range in the column "Tempo" (Time);

6¬∫ - The first dataframe has the last column non-standard, as it should only have the delivery price, but there is also the delivery time. Besides that, we need to remove the "R$" from the prices (except in the last dataframe, which already has only the numbers);

## 1. Organizing
At first, to better organize the df, I will drop the unnecessary columns, which are the first and the second, add the data collector's name in each df, and then rename the columns.

In [8]:
for i in range(len(df)):
    names = ['alexandre','emanuel','emerson','julia']
    df[i] = df[i][df[i].columns[2:]] # eliminating the first and second columns
    df[i]['Dono'] = [names[i]]*len(df[i]) # adding the name

name_columns = ['T√≠tulo', 'Nota', 'Tipo', 'Tempo', 'Pre√ßo', 'Dono']

# Changing the column names in all df's
for data in df:
    data.columns = name_columns 
    
df[0].head()

<ipython-input-8-682478fc7d7c>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[i]['Dono'] = [names[i]]*len(df[i]) # adding the name

,T√≠tulo,Nota,Tipo,Tempo,Pre√ßo,Dono
0,"FILHO DA FRUTA ""RESTAURANTE""",4.7,"4.7 ‚Ä¢ Brasileira ‚Ä¢ 2,8 km",40-50 min,40-50 min ‚Ä¢ Gr√°tis,alexandre
1,Ponto da Esfiha Itapevi,4.1,"4.1 ‚Ä¢ Pizza ‚Ä¢ 1,5 km",45-55 min,45-55 min ‚Ä¢ R$ 5.00,alexandre
2,Sodi√™ Doces - Itapevi Jardim da Rainha,4.6,"4.6 ‚Ä¢ Doces & Bolos ‚Ä¢ 2,3 km",80-90 min,80-90 min ‚Ä¢ R$ 7.00,alexandre
3,üçîlanches Bem Boladoüçî,4.9,"4.9 ‚Ä¢ Lanches ‚Ä¢ 3,0 km",60-70 min,60-70 min ‚Ä¢ R$ 7.99,alexandre
4,Japa House,4.5,"4.5 ‚Ä¢ Japonesa ‚Ä¢ 3,2 km",60-70 min,60-70 min ‚Ä¢ R$ 5.00,alexandre

## 2. Comma to point
Solving the comma problem in the last dataframe in the columns "Nota" and "Pre√ßo".

In [9]:
def comma_to_point(dataframe):
    for i in ([1,4]): # appplying the function in the columns "Nota" and "Pre√ßo"
        new_column = []
        for data in dataframe.iloc[:,i]:
            if data not in (['Novo!','Gr√°tis']):
                new_data = (data.replace(',','.')) # replacing comma by period
            else:
                new_data = data
            new_column += [new_data]
        dataframe.iloc[:,i] = new_column
    return dataframe

df[3] = comma_to_point(df[3])
df[3].head()

,T√≠tulo,Nota,Tipo,Tempo,Pre√ßo,Dono
0,Restaurante Sabor Caseiro,4.4,"4.4 ‚Ä¢ Brasileira ‚Ä¢ 1,8 km",26-36 min,4.99,julia
1,Papastel - Barueri,4.9,"4.9 ‚Ä¢ Pastel ‚Ä¢ 3,7 km",17-27 min,8.49,julia
2,HORAS BURGUER BARUERI,4.6,"4.6 ‚Ä¢ Lanches ‚Ä¢ 1,5 km",40-50 min,6,julia
3,Ponto da Esfiha - Jd Silveira,4.4,"4.4 ‚Ä¢ √Årabe ‚Ä¢ 1,7 km",40-50 min,5,julia
4,"Bedu√≠no Esfihas, Beirutes e Pizzas.",4.9,"4.8 ‚Ä¢ √Årabe ‚Ä¢ 2,1 km",28-38 min,7.99,julia

# 3. Ratings
Cleaning the column "Nota".

We will see that in none of the dfs there's a rating = 0 

So I will define as 0 anything that isn't a number in this column (NAN's and "Novo!") and convert the numbers from string to float

After that, I will calculate the mean rate for each df and substitute the zeros for this mean.

In [10]:
# Putting all the dfs in 1 dataframe
dfs_together = pd.concat(df, ignore_index = True)
dfs_together

,T√≠tulo,Nota,Tipo,Tempo,Pre√ßo,Dono
0,"FILHO DA FRUTA ""RESTAURANTE""",4.7,"4.7 ‚Ä¢ Brasileira ‚Ä¢ 2,8 km",40-50 min,40-50 min ‚Ä¢ Gr√°tis,alexandre
1,Ponto da Esfiha Itapevi,4.1,"4.1 ‚Ä¢ Pizza ‚Ä¢ 1,5 km",45-55 min,45-55 min ‚Ä¢ R$ 5.00,alexandre
2,Sodi√™ Doces - Itapevi Jardim da Rainha,4.6,"4.6 ‚Ä¢ Doces & Bolos ‚Ä¢ 2,3 km",80-90 min,80-90 min ‚Ä¢ R$ 7.00,alexandre
3,üçîlanches Bem Boladoüçî,4.9,"4.9 ‚Ä¢ Lanches ‚Ä¢ 3,0 km",60-70 min,60-70 min ‚Ä¢ R$ 7.99,alexandre
4,Japa House,4.5,"4.5 ‚Ä¢ Japonesa ‚Ä¢ 3,2 km",60-70 min,60-70 min ‚Ä¢ R$ 5.00,alexandre
...,...,...,...,...,...,...
115,Padaria e Restaurante Bengalinha,4.9,"4.9 ‚Ä¢ Padaria ‚Ä¢ 1,8 km",15-25 min,4.99,julia
116,Quinta do Marqu√™s - Alphaville / Conde,4.6,"4.6 ‚Ä¢ Lanches ‚Ä¢ 6,8 km",46-56 min,16.49,julia
117,Jin Jin - Barueri,4.4,"4.4 ‚Ä¢ Japonesa ‚Ä¢ 5,4 km",61-71 min,12.49,julia
118,Padaria e Lanchonete Urania,4.4,"4.4 ‚Ä¢ Padaria ‚Ä¢ 4,4 km",50-60 min,6,julia
119,Lunna Batatas,4.3,"4.3 ‚Ä¢ Lanches ‚Ä¢ 3,0 km",65-75 min,Gr√°tis,julia

In [11]:
# Verifying that there are no rates == 0
dfs_together.loc[(dfs_together['Nota'] == 0)]

Empty DataFrame
Columns: [T√≠tulo, Nota, Tipo, Tempo, Pre√ßo, Dono]
Index: []

In [12]:
# Function to convert numbers to float and put "0.0" where there's no number
def cleaning_ratings(dataframe):
    ratings = []
    for rate in dataframe.iloc[:,1]:
        if rate == 'Novo!':
            new_rate = float(0)
        elif pd.isnull(rate):
            new_rate = float(0)
        elif type(rate) == float:
            new_rate = rate
        elif type(rate) == str:
            new_rate = float(rate)
        ratings += [new_rate]
    dataframe.iloc[:,1] = ratings
    return dataframe

In [13]:
# Applying the function to all df's
for data in df:
    data = cleaning_ratings(data)

df[1].head()

,T√≠tulo,Nota,Tipo,Tempo,Pre√ßo,Dono
0,Z Deli Dogs,4.6,"4.6 ‚Ä¢ Lanches ‚Ä¢ 3,8 km",30-40 min,R$ 10.49,emanuel
1,Andiamo Ristorante - Cidade S√£o Paulo,4.7,"4.7 ‚Ä¢ Italiana ‚Ä¢ 3,3 km",34-44 min,R$ 9.99,emanuel
2,Amor Aos Peda√ßos - West Plaza,4.3,"4.3 ‚Ä¢ Doces & Bolos ‚Ä¢ 3,0 km",34-44 min,R$ 7.99,emanuel
3,Casa Europa,4.8,"4.8 ‚Ä¢ Italiana ‚Ä¢ 4,8 km",35-45 min,R$ 12.99,emanuel
4,Lancheria Original Brasil Santana,0.0,"Novo! ‚Ä¢ A√ßa√≠ ‚Ä¢ 4,0 km",22-32 min,R$ 6.99,emanuel

In [14]:
# Substitute 0.0 to the mean of each df 
def rate_zero_to_mean(dataframe):
    mean_rate = np.mean(dataframe['Nota'])
    ratings = []
    for rate in dataframe.iloc[:,1]:
        if rate == 0:
            new_rate = round(mean_rate, 2)
        else:
            new_rate = rate
        ratings += [new_rate]
    dataframe.iloc[:,1] = ratings
    return dataframe

In [15]:
# Applying the function to all df's
for data in df:
    data = rate_zero_to_mean(data)

df[1].head()

,T√≠tulo,Nota,Tipo,Tempo,Pre√ßo,Dono
0,Z Deli Dogs,4.60,"4.6 ‚Ä¢ Lanches ‚Ä¢ 3,8 km",30-40 min,R$ 10.49,emanuel
1,Andiamo Ristorante - Cidade S√£o Paulo,4.70,"4.7 ‚Ä¢ Italiana ‚Ä¢ 3,3 km",34-44 min,R$ 9.99,emanuel
2,Amor Aos Peda√ßos - West Plaza,4.30,"4.3 ‚Ä¢ Doces & Bolos ‚Ä¢ 3,0 km",34-44 min,R$ 7.99,emanuel
3,Casa Europa,4.80,"4.8 ‚Ä¢ Italiana ‚Ä¢ 4,8 km",35-45 min,R$ 12.99,emanuel
4,Lancheria Original Brasil Santana,4.45,"Novo! ‚Ä¢ A√ßa√≠ ‚Ä¢ 4,0 km",22-32 min,R$ 6.99,emanuel

## 4. Food type
We will find the food type by splitting the information in the third column.

In [16]:
def food(dataframe):
    food_types = []
    for data in dataframe.iloc[:,2]:
        splitted_data = data.split('‚Ä¢') # split the data when found a '‚Ä¢', returning a list
        if len(splitted_data) == 3:
            food_type = splitted_data[1].strip() # if lenght of the list == 3, the food type is the second item in the list
        else:
            food_type = splitted_data[0].strip() # if not, the food type is the first item
        food_types += [food_type] 
    dataframe.iloc[:,2] = food_types
    return dataframe

In [17]:
# Applying the function to all df's
for data in df:
    data = food(data)

df[0].head()

,T√≠tulo,Nota,Tipo,Tempo,Pre√ßo,Dono
0,"FILHO DA FRUTA ""RESTAURANTE""",4.7,Brasileira,40-50 min,40-50 min ‚Ä¢ Gr√°tis,alexandre
1,Ponto da Esfiha Itapevi,4.1,Pizza,45-55 min,45-55 min ‚Ä¢ R$ 5.00,alexandre
2,Sodi√™ Doces - Itapevi Jardim da Rainha,4.6,Doces & Bolos,80-90 min,80-90 min ‚Ä¢ R$ 7.00,alexandre
3,üçîlanches Bem Boladoüçî,4.9,Lanches,60-70 min,60-70 min ‚Ä¢ R$ 7.99,alexandre
4,Japa House,4.5,Japonesa,60-70 min,60-70 min ‚Ä¢ R$ 5.00,alexandre

## 5. Time 
Calculate the mean waiting time according to the range given.

In [18]:
def r_times(dataframe):
    lst_times = []
    dataframe['Tempo'] = dataframe['Tempo'].str.replace(' min', '')
    times = dataframe['Tempo'].str.split('-')
    for time_range in times:
        sum_times = 0
        for t in time_range:
            sum_times += int(t)
        mean_time = sum_times/len(time_range)
        lst_times += [mean_time]
    dataframe.iloc[:,3] = lst_times
    return dataframe

In [19]:
# Applying to all df's
for data in df:
    data = r_times(data)
    
df[1].head()

,T√≠tulo,Nota,Tipo,Tempo,Pre√ßo,Dono
0,Z Deli Dogs,4.60,Lanches,35.0,R$ 10.49,emanuel
1,Andiamo Ristorante - Cidade S√£o Paulo,4.70,Italiana,39.0,R$ 9.99,emanuel
2,Amor Aos Peda√ßos - West Plaza,4.30,Doces & Bolos,39.0,R$ 7.99,emanuel
3,Casa Europa,4.80,Italiana,40.0,R$ 12.99,emanuel
4,Lancheria Original Brasil Santana,4.45,A√ßa√≠,27.0,R$ 6.99,emanuel

## 6. Price
We first need to clean up df1, which has this column different from the others, with the delivery time and delivery price

Then we will remove the "R$" from the prices.

In [20]:
def cleaning_df1(dataframe):
    prices = []
    for data in dataframe.iloc[:,4]:
        splitted = data.split('‚Ä¢')
        price = splitted[1].strip()
        prices += [price]
    dataframe.iloc[:,4] = prices
    return dataframe

In [21]:
df[0] = cleaning_df1(df[0])
df[0].head()

,T√≠tulo,Nota,Tipo,Tempo,Pre√ßo,Dono
0,"FILHO DA FRUTA ""RESTAURANTE""",4.7,Brasileira,45.0,Gr√°tis,alexandre
1,Ponto da Esfiha Itapevi,4.1,Pizza,50.0,R$ 5.00,alexandre
2,Sodi√™ Doces - Itapevi Jardim da Rainha,4.6,Doces & Bolos,85.0,R$ 7.00,alexandre
3,üçîlanches Bem Boladoüçî,4.9,Lanches,65.0,R$ 7.99,alexandre
4,Japa House,4.5,Japonesa,65.0,R$ 5.00,alexandre

Now that the column "Pre√ßo" in the first df is similar to the others we can create a function to remove the "R$" and change 'Gr√°tis' ('Free') and NaN's to 0.0.

In [22]:
def cleaning_prices(dataframe):
    prices = []
    for data in dataframe.iloc[:, 4]:
        if not pd.isnull(data):
            splitted = data.split('R$ ')
            if len(splitted) == 2:
                price = splitted[1].strip()
            else:
                price = splitted[0]
            if price != 'Gr√°tis':
                price = float(price)
            else:
                price = 0.0
        else:
            price = 0.0
        prices += [price]
    dataframe.iloc[:,4] = prices
    return dataframe

In [23]:
for data in df:
    data = cleaning_prices(data)
    
df[0].head()

,T√≠tulo,Nota,Tipo,Tempo,Pre√ßo,Dono
0,"FILHO DA FRUTA ""RESTAURANTE""",4.7,Brasileira,45.0,0.00,alexandre
1,Ponto da Esfiha Itapevi,4.1,Pizza,50.0,5.00,alexandre
2,Sodi√™ Doces - Itapevi Jardim da Rainha,4.6,Doces & Bolos,85.0,7.00,alexandre
3,üçîlanches Bem Boladoüçî,4.9,Lanches,65.0,7.99,alexandre
4,Japa House,4.5,Japonesa,65.0,5.00,alexandre

## Final DataFrame

In [24]:
# Verifying the data types
for data in df:
    print(data.dtypes)

T√≠tulo     object
Nota      float64
Tipo       object
Tempo     float64
Pre√ßo     float64
Dono       object
dtype: object
T√≠tulo     object
Nota      float64
Tipo       object
Tempo     float64
Pre√ßo     float64
Dono       object
dtype: object
T√≠tulo     object
Nota      float64
Tipo       object
Tempo     float64
Pre√ßo     float64
Dono       object
dtype: object
T√≠tulo     object
Nota      float64
Tipo       object
Tempo     float64
Pre√ßo     float64
Dono       object
dtype: object

Concatenate the dfs into 1 dataframe

In [25]:
final_df = pd.concat(df, ignore_index = True)
final_df

,T√≠tulo,Nota,Tipo,Tempo,Pre√ßo,Dono
0,"FILHO DA FRUTA ""RESTAURANTE""",4.7,Brasileira,45.0,0.00,alexandre
1,Ponto da Esfiha Itapevi,4.1,Pizza,50.0,5.00,alexandre
2,Sodi√™ Doces - Itapevi Jardim da Rainha,4.6,Doces & Bolos,85.0,7.00,alexandre
3,üçîlanches Bem Boladoüçî,4.9,Lanches,65.0,7.99,alexandre
4,Japa House,4.5,Japonesa,65.0,5.00,alexandre
...,...,...,...,...,...,...
115,Padaria e Restaurante Bengalinha,4.9,Padaria,20.0,4.99,julia
116,Quinta do Marqu√™s - Alphaville / Conde,4.6,Lanches,51.0,16.49,julia
117,Jin Jin - Barueri,4.4,Japonesa,66.0,12.49,julia
118,Padaria e Lanchonete Urania,4.4,Padaria,55.0,6.00,julia
119,Lunna Batatas,4.3,Lanches,70.0,0.00,julia

In [26]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   T√≠tulo  120 non-null    object
 1   Nota    120 non-null    float64
 2   Tipo    120 non-null    object
 3   Tempo   120 non-null    float64
 4   Pre√ßo   120 non-null    float64
 5   Dono    120 non-null    object
dtypes: float64(3), object(3)
memory usage: 5.8+ KB

Save it into a .csv file

In [27]:
final_df.to_csv('final_df_ifood.csv', index = False)
final_df

,T√≠tulo,Nota,Tipo,Tempo,Pre√ßo,Dono
0,"FILHO DA FRUTA ""RESTAURANTE""",4.7,Brasileira,45.0,0.00,alexandre
1,Ponto da Esfiha Itapevi,4.1,Pizza,50.0,5.00,alexandre
2,Sodi√™ Doces - Itapevi Jardim da Rainha,4.6,Doces & Bolos,85.0,7.00,alexandre
3,üçîlanches Bem Boladoüçî,4.9,Lanches,65.0,7.99,alexandre
4,Japa House,4.5,Japonesa,65.0,5.00,alexandre
...,...,...,...,...,...,...
115,Padaria e Restaurante Bengalinha,4.9,Padaria,20.0,4.99,julia
116,Quinta do Marqu√™s - Alphaville / Conde,4.6,Lanches,51.0,16.49,julia
117,Jin Jin - Barueri,4.4,Japonesa,66.0,12.49,julia
118,Padaria e Lanchonete Urania,4.4,Padaria,55.0,6.00,julia
119,Lunna Batatas,4.3,Lanches,70.0,0.00,julia